<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      <services>
        <service name ="ServicioFarma">
          <endpoint address="http://prueba-pc/ServicioFarmaWCF/"
                    binding ="wsHttpBinding"
                    bindingConfiguration="EnlaceFarma"
                    contract ="IServicioWCF" />

        </service>

      </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

      <bindings>
        <wsHttpBinding>
          <binding name ="EnlaceFarma"></binding>
        </wsHttpBinding>
      </bindings>
      
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
